.card {
	cursor: pointer;
	padding: 10px;
	color: rgb(23, 25, 27) !important;
	border-radius: 15px;
}
.col {
	width: 33.333%;
	padding: 5px;
}

.image {
	width: 100%;
}
.text {
	color: rgb(23, 25, 27) !important;
}
